
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<h2></h2>

<button type="button" class="btn btn-default">
    @Html.ActionLink("Click To Post A Job", "PostJob", "Home", null, null)
</button>

